@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

* {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}

body {
    background: linear-gradient(to right, #1f2731, rgb(10, 53, 31)); 
    background-size: 200% auto;
    animation: gradientAnimation 10s ease infinite; 
    color: #fff;
    margin: 0;
    padding: 20px;
    align-items: center;
}

h1 {
    color: rgb(25, 190, 108);
    font-size: 24px;
}

p {
    font-size: 18px;
    color: #ccc;
}

input[type="number"], button {
    width: 15%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
}

button {
    width: auto;
    background-color: rgb(25, 190, 108);
    color: #fff;
    border: none;
}

button:hover {
    background-color: #45a049;
}

i {
    margin: 0 10px;
    font-size: 24px;
    color: rgb(25, 190, 108);
}
